@media screen and (max-width:1290px) {
header {
    .navbar-responsive {
        display: none;
        }
    }
    main {
        .info-servicios{
            .servicios-principales{
                .info-principal{
                    img{
                        width: 20%;
                        margin: 10px;
                        }
                    }
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }
        .mapa{
                margin-right: 40px;
                margin-left: 40px;
            }
        .marcas{
            .carrusel-marcas{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }
        .servicios-secundarios{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
        .terraza {
            img {
                height: 250px;
            }
        }
        .contacto{
            .formulario-de-contacto{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 60px 60px 60px 90px 60px;
                        row-gap: 15px;
                        column-gap: 15px;
                        .nombre-usuario{
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                        .mail-usuario{
                            grid-column-start: 3;
                            grid-column-end: 5;
                        }
                        .telefono-usuario{
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                    .campo-observaciones {
                            grid-column-start: 1;
                            grid-column-end: 5;
                        }
                    .enviar{
                            grid-column-start: 2;
                            grid-column-end: 3;
                        }
                    .resetear{
                            grid-column-start: 3;
                            grid-column-end: 4;
                        }
                    }
                }
            footer {
                        .footer-contacto {
                            padding-right: 20px;
                            padding-left: 20px;
                        }
                    }
                }
            }

@media screen and (max-width: 900px) {
    main {
        .terraza {
            img {
                height: 200px;
            }
        }
    }
    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    header {
        .navbar-desktop {
            display: none;
        }
        .navbar-responsive {
            display: inline-block;
            .navbar-cerrado {
                display: flex;
                .navbar-dark {
                    align-items: center;
                }
                }
        }
        nav {
            ul {
                flex-direction: column;
                align-items: left;
                padding-left: 10px !important;
                li {
                    padding: 0px;
                }
            }
            a {
                img {
                    align-items: left;
                }
            }
        }
    }
    main {
        .hero-index {
            .hero {
                .titulo-principal {
                    font-size: 28px;
                }
                .titulo-secundario {
                    font-size: 22px;
                }
            }
        }
        .hero-secundario {
            img {
                height: 50vh;
            }
            .hero-secundario {
                .titulo-principal {
                    font-size: 28px;
                }
                .titulo-secundario {
                    font-size: 22px;
                }
            }
        }
        .info-oficina {
            text-align: center;
            .tipos-de-oficinas {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }
        .tipos-de-planes {
            .planes {
                flex-direction: column;
            }
        }
        .mapa {
            display: flex;
            flex-direction: column;
            div {
                h2 {
                    font-size: 24px;
                }
            }
        }
        .contacto {
            .formulario-de-contacto {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 70px 70px 70px 70px 70px 70px;
                row-gap: 15px;
                column-gap: 15px;
                .nombre-usuario {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .mail-usuario {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .telefono-usuario {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .campo-observaciones {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .enviar {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .resetear {
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
            }
        }
    }
    footer{
        .secciones-web {
            border-right: none;
            border-bottom: solid 1px #FEFEFE;
            text-align: center;
        }
        .footer-contacto {
            text-align: center;
            border-top: solid 1px #FEFEFE;
            border-left: none;
            p {
                text-align: center;
            }
        }
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 700px) {
    main {
        .galeria-imagenes{
            .grilla-imagenes{
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: 150px 150px 150px;
                padding: 0px;
                padding-top: 20px;
                gap: 10px;
                .img-1{
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                .img-2{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                .img-3{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                .img-4{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
                .img-5{
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
                
            }
        }
        .terraza {
            flex-direction: column;
            gap: 5px;
            padding-top: 20px;
            padding-left: 0px;
            margin-top: 20px;
            margin-bottom: 20px;
            div {
                width: 100%;
            }
            img {
                width: 100%;
                height: 350px;
            }
        }
        .descripcion-servicios {
            flex-direction: column;
            gap: 20px;
            img {
                width: 100%;
            }
            div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        .terraza {
            img {
                height: 250px;
            }
        }
        .contacto {
            .formulario-de-contacto {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px 70px 100px 40px 40px;
                row-gap: 15px;
                .nombre-usuario{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .mail-usuario{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .telefono-usuario{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .input-empresa{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .input-tipo-oficina{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .input-fechas{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .input-pago{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .input-tipo-plan{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .campo-observaciones{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .enviar{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .resetear{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
            }
            
        }
    }
}


@media screen and (max-width: 500px) {
    main {
        .hero-index {
            .hero {
                p {
                    display: none;
                }
            }
        }
        .info-oficina {
            .tipos-de-oficinas {
                display: grid;
                grid-template-columns: 1fr ;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        .info-servicios {
            .servicios-principales {
                display: grid;
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 1fr 1fr 1fr;
                .info-principal {
                    img {
                        width:  15%;
                    }
                }
            }
        }
        .marcas {
            .carrusel-marcas {
                display: grid;
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        .servicios-secundarios {
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 80px 80px 80px;
            .info-secundaria {
                img {
                    width:  15%;
                }
            }
        }
    }
    .titulo {
        font-size: 24px;
        margin-bottom: 0px
    }
}

@media screen and (max-width: 400px) {
    main {
        .hero-index {
            .hero {
                .titulo-principal {
                    font-size: 22px;
                }
                .titulo-secundario {
                    font-size: 18px;
                }
            }
        }
        .hero-secundario {
            .hero {
                .titulo-principal {
                    font-size: 22px;
                }
                .titulo-secundario {
                    font-size: 18px;
                }
            }
        }
        .terraza {
            img {
                height: 150px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    main {
        .info-servicios {
            .servicios-principales {
                display: grid;
                grid-template-columns: 1fr ;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }
        }
        .servicios-secundarios {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 100px 100px 100px 100px;
        }
    }
}
